{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Browse {{ genre ? genre : ' Tous les musics ' }}</h1>

    <h2 class="mt-5 mb-4">Filtrer Par Genre</h2>
    <ul class="genre-list ps-0 mt-2 mb-3">
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('browse',{ "recherche": 'pop'}) }}">Pop</a>
        </li>
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('browse',{ "recherche": 'rock'}) }}">Rock</a>
        </li>
        <li class="d-inline">
            <a class="btn btn-primary btn-sm" href="{{ path('browse',{ "recherche": 'metal'}) }}">Heavy Metal</a>
        </li>
    </ul>

    <div>
        <h2 class="mt-5">Mixte</h2>
        <div class="row">
        {% for track in tracks %}
            <div class="col col-md-4">
                <div class="mixed-vinyl-container p-3 text-center">
                    <img src="{{ asset('apple-touch-icon.png') }}" data-src="https://via.placeholder.com/300" alt="Square placeholder img">
                    <p class="mt-2"><strong>{{ track.Artist }}</strong></p>
                    <span>{{ track.Genre }}</span>
                    |
                    <span>{{ track.Titre }}</span>
                    |
                    <span>{{ track.createdAt|date('d-m-Y') }}</span>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
