{% extends "base.html.twig" %}
{% block title %}welcome | {{ parent() }} {% endblock %}
{% block body %}
    <h1>
    {{ Title }}
    </h1>
    <div>
        list of the Musics
        <ul>
            {% for track in tracks %}
                <li>
                    {{ track.Artist }} - {{ track.Titre|upper }}
                </li>
            {% endfor %}
        </ul>
    </div>
    {{ parent() }}
{% endblock %}